
.saleslist h4{
    color: #FAFAFA;
    margin: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.saleslist{
    width: 95%;
    align-items: center;
    overflow: hidden;
}

.container_pag{
    border-radius: 25px;
    padding:15px;
    margin-top:30px;
    margin-bottom:30px;
    width: 250px;
    background-color:rgba(255,255,255,0.2);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    display: flex;
    justify-content:center;
    align-items: center;
}

.saleslist-table{
    overflow-x: scroll;
    width: 100%;
    justify-content:center;
    align-items: center;
}
.saleslist-table::-webkit-scrollbar{
    height:10px;
    }
.saleslist-table:hover::-webkit-scrollbar{
background-color: rgba(255,255,255,0.5);
border-radius: 15px;
}
.saleslist-table:hover::-webkit-scrollbar-track{
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
background-color: rgba(0,0,0,0.1);
border-radius: 15px;
}
.saleslist-table:hover::-webkit-scrollbar-thumb{
background-color: rgba(0,0,0,0.5); 
background-image: -webkit-linear-gradient(90deg,rgba(0,0,0,0.2) 75%,transparent 75%,transparent);
border-radius: 15px;
}

@media only screen and (max-width: 320px) {

    .header__logo {
      width: 200px;
      height:40px;
    }
    .header__menu--profile>img {
      width: 30px;
      height:30px;
    }
    .header a{
      padding: 0 10px;
    }
  
  }