.newSupplier{
    width: 300px;
    height: 200px;
    background-color: rgba(255,255,255,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius:20px;
    color: black; ;
    margin-top: 70px;
}

.newSupplier>h1{
    font-size:30px;
    color: black;
    margin: 20px;
}

.newSupplier__container-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.newSupplier__container-btn>button{
    margin-bottom: 20px;
    margin-left: 10px;
}

