.updateProduct {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

.updateProduct__container{
    border-radius: 25px;
    padding:20px;
    margin-top:30px;
    margin-bottom:30px;
    width: 600px;
    background-color:rgba(255,255,255,0.2);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    display: flex;
    justify-content:center;
}
.row{
    width: 100%;
}

.col__text{
    text-align:center;
    color: white;
}

.col__btn{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}
.col__dates{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 16px;
}
.col__dates>div{
    width: 48%;
}
.col__saleManager{
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    margin-bottom: 16px;
}

.Icon__updateProduct {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height:35px;
    width:42.5px;
    margin-left: 5px;
    font-weight: bold;
    color:#fff;
  }


@media only screen and (max-width: 600px) {

    .updateProduct__container{
        width: 90%;
    }
    .col__dates{
        flex-direction: column;
        margin-bottom: 0px;
    }
    .col__dates>div{
        width: 100%;
        margin-bottom: 16px;
    }
    .col__saleManager-select>select{
        flex-direction: column;

    }
  }

  @media only screen and (max-width: 380px) {

    .col__saleManager-select>select{
        font-size: 0.8rem;
    }
  }