.CheckModal{
    width: 50vh;
    background-color: rgba(255,255,255,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius:20px;
    color: #981c2c ;
    margin-top: 70px;
}

@media only screen and (max-width: 640px){
    .CertificateModal{
      width: 90%;
    }
    .CertificateModal>img{
      width: 100%;
      padding:10px;
    }
    .button{
      background-color: #FF6347;
      color: #FAFAFA;
    }
}
